@model IEnumerable<BLL.DTOModels.CartDto>

@{
    ViewData["Title"] = "Корзина";
}

<div class="container mx-auto px-4 md:col-span-3">
    <h1 class="text-2xl font-bold mb-4">Корзина</h1>
    @if (Model.Any())
    {
        <table class="table-auto w-full border-collapse border">
            <thead>
                <tr>
                    <th class="px-4 py-2 border">Название</th>
                    <th class="px-4 py-2 border">Цена</th>
                    <th class="px-4 py-2 border">Количество</th>
                    <th class="px-4 py-2 border">Итого</th>
                    <th class="px-4 py-2 border"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="px-4 py-2 border">@item.Product.Name</td>
                        <td class="px-4 py-2 border">$@item.Product.Price</td>
                        <td class="px-4 py-2 border">@item.Quantity</td>
                        <td class="px-4 py-2 border">$@(item.Product.Price * item.Quantity)</td>
                        <td class="px-4 py-2 border">
                            <button class="px-6 py-3 rounded-md hover:bg-black-600 text-white hover:text-red-800 transition duration-300" onclick="removeFromCart(@item.Id)">Удалить</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="flex mt-4">
            <a href="@Url.Action("Checkout", "Order")" class="px-6 py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 transition duration-300">Оформить заказ</a>
        </div>
    }
    else
    {
        <p class="text-gray-600">Ваша корзина пуста.</p>
    }
</div>

<script>
    function removeFromCart(cartItemId) {
        if (confirm("Вы уверены, что хотите удалить этот товар из корзины?")) {
            fetch(`/Cart/RemoveFromCart?cartItemId=${cartItemId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                }
            })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        console.error('Ошибка при удалении товара из корзины');
                    }
                })
                .catch(error => console.error('Ошибка:', error));
        }
    }
</script>

