@model BLL.DTOModels.CategoryDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Редактировать категорию";
}

<div class="container mx-auto px-4 mt-4 md:col-span-3">
    <h2 class="text-2xl font-bold mb-4">Редактировать категорию</h2>
    <form method="post" action="@Url.Action("EditBrand", new { id = Model.Id })">
        <div class="mb-4">
            <label for="categoryName" class="block text-sm font-medium text-gray-700">Название бренда</label>
            <input type="text" id="categoryName" name="Name" value="@Model.Name" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
        </div>
        <div class="mt-6">
            <button type="submit" class="px-4 py-2 text-sm font-medium text-white bg-gray-800 hover:bg-gray-900 rounded-md">Сохранить</button>
            <a href="#" id="cancelEdit" class="ml-2 px-4 py-2 text-sm font-medium text-white bg-gray-500 hover:bg-gray-700 rounded-md">Отмена</a>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cancelEditBtn = document.getElementById('cancelEdit');
        cancelEditBtn.addEventListener('click', function (event) {
            event.preventDefault();
            history.back();
        });
    });
</script>
