@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="center-align">Welcome to our grocery store!</h3>

    <p class="flow-text">
        In our store, you will find a wide range of high-quality products for all your needs.
        From fresh fruits and vegetables to exotic spices and organic beverages, we have everything to make your
        food tasty and healthy. We guarantee the freshness and best quality of our products.
    </p>

    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.timeoutbahrain.com/cloud/timeoutbahrain/2021/09/16/9KkK7blg-onlineshopping-1200x800.jpg" alt="Product Image 1">
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://media.istockphoto.com/id/171302954/photo/groceries.jpg?s=612x612&w=0&k=20&c=D3MmhT5DafwimcYyxCYXqXMxr1W25wZnyUf4PF1RYw8=" alt="Product Image 2">
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://fedandfit.com/wp-content/uploads/2019/03/DSC_3153.jpg" alt="Product Image 3">
                </div>
            </div>
        </div>
    </div>

    <div class="section amber lighten-5">
        <h5 class="center-align">Why choose us?</h5>
        <p class="flow-text">
            We strive to provide our customers with not only quality products but also a high level of service.
            Our team is always happy to help you with product selection and answer any questions you may have. Shopping with us means convenience,
            reliability, and confidence in every product.
        </p>
    </div>

    <div class="section green lighten-5">
        <h5 class="center-align">Freshness every day!</h5>
    </div>
</div>
